[2014-04-10 10:09] darrenmothersele opened #1 "Add Mozilla Persona"
as requested here:
https://github.com/ouisharelabs/kendra_home/issues/1

[2014-04-10 11:14] darrenmothersele opened #2 "Remove Kendra Home specific files"
There are files left over from the content migration still in the code base.

In particular the /graphics and /documents folders.

Should these be removed? Are these files linked to any where?

[2014-04-10 16:30] dahacouk opened #3 "Include multiple roles and organisations on same line for each member"
Make the output of https://www.kendra.org/members and https://www.kendra.org/members/countries look more like http://www.v2rf.org/endorsements as in each person has multiple roles and organisations per member line and roles included.

[2014-04-13 08:14] dahacouk opened #4 "Update robots.txt to allow bots"
Update robots.txt to allow bots. Assigned to @dahacouk to do soon.

[2014-04-13 13:21] dahacouk opened #5 "Need to make the site public"
We need to make http://www.kendra.org public for members, orgs, projects and events. And then push this to http://labs.ouishare.net.

[2014-04-13 13:29] dahacouk opened #6 "Adding description fields to profiles and orgs?"
Wondering about adding description fields to profiles and orbs? Is this the best way to do this?

[2014-04-17 07:37] #1 closed, assigned to nobody

[2014-04-17 11:39] darrenmothersele opened #7 "remove html ampersand from organisation names"
leftover from double escaping in migration, some orgs have html code for & in the title

[2014-04-17 14:28] iAugur opened #8 "Markdown input filter"
I have added table html tags to the allowed tags in the limit html filter for the Markdown input filter so that markdown can support tables.

[2014-04-17 14:28] #8 closed, assigned to iAugur

[2014-04-17 14:30] iAugur opened #9 "Book Outline"
I have created a book structure out of the Project Books pages in the Kendra Hub project.
We could consider adding the project as a type that can be added to Books so that the project page can act as a start page to the book
Or adding a link to the project page on the Project Book content type display so that you can get back to the Project from attached book pages.

[2014-05-03 11:17] dahacouk opened #10 "Bulk change organisations to orgs"
We need to bulk change /organisations to /orgs node path for imported companies.

[2014-05-16 09:19] dahacouk opened #11 "Comments available on Kendra Home issues?..."
It would be nice if there were comments available on Kendra Home issues. But can't see them

For example https://www.kendra.org/issues/8758

[2014-05-28 14:38] #11 closed, assigned to darrenmothersele

[2014-05-28 14:41] #10 closed, assigned to nobody

[2014-05-28 14:54] #7 closed, assigned to nobody

[2014-05-28 15:06] #6 closed, assigned to dahacouk

[2014-05-28 15:09] #5 closed, assigned to darrenmothersele

[2014-05-29 10:55] #3 closed, assigned to darrenmothersele

[2014-07-08 12:51] iAugur opened #13 "Create new bootstrap theme for Kendra Home"
Create a bootstrap theme for Kendra home

[2014-07-11 12:50] iAugur opened #14 "Create new Panels layout for kendra home"
Create a three section panels layout so we can apply bootstrap classes to regions

[2014-07-15 13:58] darrenmothersele opened #15 "Blog and Newsletters"
This will be RSS feed, suitable for Drupal Planet (only Drupal tagged blogs)...
https://www.kendra.io/taxonomy/term/1/feed

[2014-07-17 11:28] dahacouk opened #16 "User registration form..."
@iAugur: Please add this text to the user registration form on the front page.

Above the form:

Below the form:

[2014-07-25 10:06] iAugur opened #17 "Privacy & cookies pages"
Add pages to cover privacy and cookies

[2014-08-28 17:09] iAugur opened #18 "Event Calendar Block - Initial Date"
If we go with an embedded calendar as a block on the event page it would be preferable to pass in the date of the currently viewed event as the initial date for the calendar

see https://www.drupal.org/node/1197762

[2014-08-29 11:54] iAugur opened #19 "Anti spam module error"
We are getting:
Notice: Undefined index: node in antispam_node_view()
Warning: array_merge(): Argument #1 is not an array in antispam_node_view() (line 945 of /var/www/vhosts/www.kendra.org/sites/all/modules/contrib/antispam/antispam.module).

[2014-08-29 13:41] iAugur opened #20 "User Registration Form"
The validation of a submitted empty for shows the machine name field (not visible on the original form)
This is the Safeword module field for field_user_name

[2014-09-19 15:35] iAugur opened #21 "Editing: Markdown and other text formats not available"
The selector for text format is not showing on blogs and other content types

[2014-09-19 15:38] iAugur opened #22 "Event page: Show a list of events alongside the calendar view"
Not sure if it is possible to add a 'List' button along with the Day/week/month view buttons in the calendar heading without altering the calendar in code to view a list of events. See: https://www.kendra.io/events

[2014-12-01 15:06] iAugur opened #23 "Bulk import/create users"
Add the ability to bulk create users on Kendra_home
Review available modules e.g. https://www.drupal.org/project/user_import

[2015-01-20 12:54] dahacouk opened #24 "Rename organisation"
I want to rename the https://github.com/kendrainitiative to be https://github.com/kendraio

We are rebranding Kendra Initiative URLs. The new domain for Kendra Home will be *http://www.kendra.io*

All social media and links will be named *kendraio*. We already have:
https://www.facebook.com/kendraio
https://www.linkedin.com/company/kendraio
https://plus.google.com/+kendraio
https://www.youtube.com

[2015-01-22 12:58] iAugur commented on #24
So long as we all have an uptodate repo locally and have no local changes pending - then all we need to do is update our 'origins' locally and all should be good - I think?

[2015-01-22 14:27] dahacouk commented on #24
OK. Great. Let me know when you've both done this and I'll make the change.

[2015-01-22 15:27] BBGuy commented on #24
My local repo is clean, I think @andystiller pushed his changes on Tuesday but even if not we can work around it.
so go ahead from the Brighton team.

[2015-01-22 15:29] iAugur commented on #24
I have updated mine - so good to go for me too

[2015-01-22 15:40] dahacouk commented on #24
Done. Thanks guys. The redirects seem to work too. Cheers!

[2015-01-26 11:11] #24 closed

[2015-01-26 11:14] dahacouk opened #25 "Set up DNS for kendra.io domain"
In the first instance I'll set up DNS for kendra.io domain to map on to current kendra.org. Then, at least, we'll have it in place for when we switch **everything**!

[2015-01-26 11:16] dahacouk opened #26 "Purchase wildcard SSL certificate for kendra.io"
I need to purchase a wildcard SSL certificate for kendra.io so that we can do **https** for all subdomains for kendra.io.

[2015-01-26 14:20] dahacouk commented on #25
OK. I've updated kendra.io to be a clone of current domain.

[2015-01-26 14:20] #25 closed

[2015-01-26 14:28] dahacouk opened #27 "Users and organisations"
This issue is about users/orgs and changes for www.kendra.io

In Kendra Home we have a list of users and their organisations. But we also have the ability to create organisations that have no users attached. I guess we can also add users too (with permission?) if we want to. This way we can build up maps of people/orgs that we want to manage/target. If we know their Twitter/Facebook/GitHub/Google+

[2015-01-26 16:13] dahacouk opened #28 "Adding organisation to profile error"
There's an error when on https://www.kendra.io/orgs/apple and I click on **Add to profile** and confirm. Let's sort this out after we've moved to kendra.io

[2015-01-26 16:51] dahacouk opened #29 "Create drop down menu for URL input"
When adding a URL in a profile or organisation we'd like to know semantically what kind of URL (Twitter? Facebook?) it is – and perhaps we'd even validate it. And we'd have an 'other' option. Knowing social usernames may be useful in the future.

[2015-01-28 12:09] dahacouk commented on #26
Does a wildcard SSL certificate have to be on the same server? That mean Kendra Home and Kendra Hub will have to be on the same server? Probably best that they are back on the same server. Would be good to have all Kendra sites be HTTPS.

[2015-01-28 12:22] dahacouk commented on #26
Could use https://letsencrypt.org in the future.

[2015-01-28 12:32] dahacouk commented on #26
Need wildcard and multiple servers.

[2015-02-06 20:26] dahacouk commented on #26
This one should do the trick: https://cheapsslsecurity.co.uk/rapidssl/rapidsslwildcard.html

[2015-02-07 12:45] dahacouk opened #30 "Take a look at robots.txt"
Take a look at robots.txt and make accessible after setting up SSL certificate.

[2015-02-09 10:33] #4 closed

[2015-02-09 11:18] BBGuy commented on #27
Also noticed that we have a "Add Organisation" button on the user profile page that doesn't work. Should this be fixed?

[2015-02-09 12:56] dahacouk commented on #27
- [ ] Low - Change multiple lines to single for users orgs and countries.
- [ ] High - Get add organisation working from users account page.
- [ ] Low - Enable un-tick Gravatar.
- [ ] Low - Validate social URLs.
- [ ] Low - Force HTTPS in social URLs if they exist.
- [ ] High- Hide Company in edit profile page.
- [ ] High - Get add to profile link from a /orgs/* page working.
- [ ] High - Create e

[2015-02-10 15:04] andystiller commented on #27
I have installed and tested the redirect module locally. It works well for the redirecting the changed URLs from /members to /users. The members view looks like it was configured to have tabs which currently don't work. Changing  https://www.kendra.io/members/orgs to https://www.kendra.io/orgs would stop the organisations being a tab.

The Add Organisation button has an incorrect /user/users/[user

[2015-02-10 16:05] andystiller commented on #27
On the dev site I have changed the following URLS in the view
- members changes to /users
- members/countries changes to /users/countries
- members/orgs to /orgs

I have also added the appropriate redirects so the old URLs get redirect to the new ones.

I have also got the Add Organisation button working on the dev site and by setting the URL to users/[user_id]/add-org in the view and in panels.

[2015-02-10 17:01] andystiller commented on #27
The Add Organisation button now take you to a page where you can add an organisation but when give the same error message as the Add to Profile button.

For the live site I have found a better way to fix the Add Organisation button by just fixing the URL in the view. On the live site the button now always points to /user/[user_id]/add-org no matter how you get to the profile.

[2015-02-12 11:18] dahacouk commented on #26
Done!

[2015-02-12 11:18] #26 closed

[2015-02-17 10:10] iAugur opened #31 "Admin menu : Tertiary items"
Issue: The third level items on the Admin menu do not appear.
This is a known issue - https://www.drupal.org/node/2360249
We should try and upgrade to rc5

[2015-02-17 11:06] dahacouk commented on #31
Perhaps you should use Safari! :-p :-)

[2015-02-17 18:53] iAugur opened #32 "Privacy compatible sharing buttons"
Most sharing buttons leak private info by including harvesting js.
I think we should investigate the following:

https://github.com/heiseonline/shariff

And there is a module

https://www.drupal.org/project/shariff

[2015-02-18 15:06] dahacouk commented on #32
Sounds like a good plan. Wonder if this is for https://github.com/drupalsocialinitiative too?

[2015-02-19 13:41] andystiller commented on #27
The error message when adding a user to and organisation has been fixed with an update to the latest version of the Relation module https://www.drupal.org/node/2358803.

[2015-02-19 15:57] andystiller commented on #27
The database update for the Relation module failed on the live site. There are some configuration differences between the local test version, the dev version and the live version of the site.

The local versions are using MySQL 5.5.41, PHP 5.3.10 and Apache 2.2.22,. The dev site (which worked OK) MySQL 5.5.41, PHP 5.4.36 and Apache. The live version of the site uses MariaDB 5.5.36, PHP 5.3.10 and

[2015-02-19 16:14] BBGuy commented on #27
Hi @andystiller I updated the db and the create organisation now works. Can you restore the other configurations when you get a chance

[2015-02-19 18:17] dahacouk opened #33 "Kendra Home issues not working..."
Can we figure out what's going wrong with:
https://www.kendra.io/node/add/kendra-issue
?

For instance, from:
https://www.kendra.io/kendra-hub/partners
Click on "file an issue" and see what I mean.

[2015-02-20 08:35] iAugur commented on #33
I have fixed this by unistalling the redirect module and reinstalling it.
It had been disabled before without uninstalling it which had messed the registry
so i have rebuilt the reg and reinstalled the module and all seems fine
can you test and close if satisfied

[2015-02-20 08:48] dahacouk commented on #33
Many thanks! Closing!

[2015-02-20 08:48] #33 closed

[2015-02-20 09:09] iAugur commented on #27
I have uninstalled and re-installed the redirect module and rebuilt the registry to get rid of the errors relating to the redirectcontroller class.
I have granted permissions to the redirect for admins and the redirects are there (I suspect that was the cause of the error -the table exists and the module was disabled)
I have renamed the paths for the views as per above and the redirects work.
Can

[2015-02-20 09:20] dahacouk commented on #27
@iAugur is your comments for @andystiller ?

[2015-02-20 12:06] dahacouk commented on #28
Works! Wonderful!

[2015-02-20 12:06] #28 closed

[2015-02-20 12:51] BBGuy commented on #20
Can't find any custom code that makes changes to the form so likely to be an issue with the module.
first step will be to update from 7.x-1.4+0-dev to latest version 7.x-1.13

[2015-02-20 13:16] BBGuy commented on #20
Updating the module did not solve the issue. Also nothing in the issue Q, although module is not used much so issues are not comprehensive

[2015-02-20 13:25] BBGuy commented on #20
Looked at the code I suspect the module is working as it should and was simply not designed to work with the user entity, the module has case statements for nodes and taxonomy.
[code]
and I suspect $items[$delta]['machine'] is not empty after submitting.

So the best way forward is to try and add a form alter to hide the field.

[2015-02-20 15:20] BBGuy commented on #33
ops committed to wrong issue should be #20

[2015-02-20 15:23] BBGuy commented on #20
committed by mistake on issue #33 see [commit](https://github.com/kendraio/kendra_home/commit/b6315a7f60d53ab505cdd96c94f601ba05916b7a)

[2015-02-20 15:30] BBGuy commented on #20
This is now fixed on dev see
* http://kendra-home-dev.bb002.net
* http://kendra-home-dev.bb002.net/user/register
to deploy:
(!) Merge to master
(!) pull & clear caches

[2015-02-24 09:35] andystiller commented on #27
@iAugur Thank you for fixing the redirects. @dahacouk I have now completed and checked all the high priority tasks in this issue on the live site. If you are happy with the changes can we change the label from High Priority to Low Priority.

[2015-02-24 10:32] andystiller commented on #19
It's a known issue on the anti spam module https://www.drupal.org/node/1966746.

[2015-02-24 14:35] BBGuy commented on #17
@dahacouk Can you review the content of the two pages listed by @iAugur

[2015-02-24 14:48] BBGuy commented on #23
Created a new branch to test https://github.com/kendraio/kendra_home/tree/dev_27

[2015-02-24 15:51] andystiller opened #34 "Module security updates"
The following modules have security updates that need to be reviewed, tested and applied.

- [x] Views
- [x] Safeword
- [x] Rules Link
- [x] Date
- [x] Chaos tool suite

[2015-02-24 16:21] BBGuy commented on #23
*To deploy*
* drush en user_import
* Add "import users" permission to admin
* set privet file system pass /admin/config/media/file-system
* Create new import: admin/people/user_import/errors/6

[2015-02-24 16:28] BBGuy commented on #23
Tested the module on the test brunch and:

**The good**
+ only new users are created (matched by user name)
+ option to update users
+ user name can be set from a CSV username column or by combining CSV columns like First name + last name
+ supports most of our fields in both user and user profile
+ is extendable through an API

**The bad**
- Field Website is not supported
- Field Full name is not

[2015-02-24 17:25] BBGuy commented on #20
I have pushed to live and clear caches but issue is not fixed, will investigate tomorrow

[2015-02-25 10:04] dahacouk commented on #23
That's a shame that `full name` is not supported. All we have is email and full name. Anything we can do about this?

[2015-02-25 10:40] BBGuy commented on #23
yes probably it doesn't do it out of the box but claims to be extensible. will investigate.

[2015-02-26 12:06] dahacouk commented on #19
I'm concerned about the costs of fixing this. What are my options? Is there a fix? How long? Disable module? What implications? Cheers

[2015-03-02 14:40] dahacouk commented on #20
Now this seems to be working we're getting a few spammers registering. What would be ideal is that they don't even get an account created until they verify their email address. Once they verify their email address then I should get a notification to activate their account. Also it would be good to check that full name is 2 words. All possible?

[2015-03-02 14:54] BBGuy commented on #20
The first one is difficult as it uses the default Drupal user registration. However using the new admin screen it should be possible to bulk delete this accounts in one go.
Can probably add some custom validation for the full name if you think its needed.

[2015-03-05 11:01] BBGuy commented on #20
Country is now required (easy config change)

[2015-03-05 13:15] BBGuy commented on #20
check that full name is 2 words:
I have made the code changes on dev.
We have also enabled messages on the home page so users can see the messages.
We have also added help test for the full name.
All configuration are live.
*To do*
- [ ] Merge code to master and push live

[2015-03-05 15:08] BBGuy commented on #20
Re: Once they verify their email address then I should get a notification to activate their account.
Looks like the system is set up as follows:
1) User registers on the site - he gets a "pending admin approval" email
2) Admin gets an email -  {user} has applied for an account.
3) Admin follows the link to in the email and approves the account.
4) user gets an emeil : Your account at Kendra Initia

[2015-03-05 15:24] dahacouk commented on #20
What we need is:

1. User registers on the site - he gets a "please verify email address" link email.
1. User follows the link - he gets a "pending admin approval" email
2. Admin gets an email - {user} has applied for an account.
3. Admin follows the link in the email and approves the account.
4. user gets an email : Your account at Kendra Initiative has been activated. email also contains a one t

[2015-03-05 16:28] BBGuy commented on #20
Went over with @dahacouk and this is the new registration process:
1) We will remove the need for Admin approval.
2) Create two new roles "active" and "approved"
3) Move all permissions from "Authenticated user" to "approved" so "Authenticated user" can only set personal details.
4) When a user validates his email he will get the  "active" role.
5) Send an admin email on new active users
6) build

[2015-03-05 16:37] BBGuy commented on #20
Options to look at for getting a trigger on the email validated:
* LoginToboggan provides a rule event see https://www.drupal.org/node/880904
* we may be able to use rules by checking from last accessed from nothing to a value
* use custom code

[2015-03-05 19:52] dahacouk commented on #20
In https://github.com/kendraio/kendra_home/issues/20#issuecomment-77396411 do you mean "rules" in "see if we can use roles to assign the "active" role after the user validates his email and also to send the admin email."?

[2015-03-06 09:48] BBGuy commented on #20
yes thanks, updated

[2015-03-10 10:12] BBGuy commented on #20
I have updated the user view to make it easier to bulk update users

[2015-03-10 10:34] BBGuy commented on #20
@dahacouk  We need to review permissions as some may be relevant to  members that have not yet been approved.
Some candidates are:
"Use search" "Add org to current user: Execute rules link", "Subscribe to newsletters "Cancel own user account".
I have moved all but  "Cancel own user account" on the dev site.

[2015-03-10 11:48] BBGuy commented on #20
I got a rule working that will assign the active role and send an admin email:
[code]

[2015-03-10 15:06] BBGuy commented on #20
New role for User Approved email
[code]

[2015-03-10 15:25] andystiller commented on #34
I have updated the version of the Views, Entity and Ctools modules to a new branch #34 for testing.

[2015-03-10 15:50] BBGuy commented on #20
## Go live plan:

*Can be completed at any time*
- [ ] 1) Create two new roles "active" and "approved".
- [ ] 2) admin screens - import admin/structure/views/view/admin_views_user/edit & admin/structure/views/view/admin_new_users/edit/page_1
- [ ] 3) Import rule https://github.com/kendraio/kendra_home/issues/20#issuecomment-78038818
- [ ] 4) Import rule https://github.com/kendraio/kendra_home/issu

[2015-03-10 15:50] andystiller commented on #34
I have updated the date module and tested by editing an event.

[2015-03-10 16:06] andystiller commented on #34
I have applied the security updates for the Rules link a Safeword modules. I have tested Rules link by adding an organisation and assigning it to my profile.

[2015-03-10 16:36] andystiller opened #35 "Notices on Field list"
On the field list report the are following notices dispalyed:

    Notice: Undefined index: profile in _field_ui_bundle_admin_path() (line 325 of /home/andyhat/websites/kendra_home/modules/field_ui/field_ui.module).
    Notice: Undefined index: profile in field_ui_fields_list() (line 35 of /home/andyhat/websites/kendra_home/modules/field_ui/field_ui.admin.inc).
    Notice: Undefined index: profile

[2015-03-10 16:42] andystiller commented on #34
## Deploy to dev
- [ ] Merge branch 34 into dev
- [ ] Update database (drush updatedb)
- [ ] Clear caches
- [ ] Test
## Go Live
- [ ] Merge dev branch into master
- [ ] Update database (drush updatedb)
- [ ] Clear caches
- [ ] Test

[2015-03-12 10:32] BBGuy commented on #20
This is now live.
I updated 2923 users
The only permissions that I left with authenticated user are "Subscribe to newsletters" & "Change own username"
@dahacouk to finish the process you need to should review users that have registered before the changeover and are not yet approved. to do so
1) go to the main people view (admin/people)
2) Filter by Active = No
3) Sort on "Member for" so the most r

[2015-03-16 12:36] BBGuy commented on #23
I managed to add support for the safeword field and full name is now importing, however the URL is not set from the safe value. Will investigate.

[2015-03-16 13:47] BBGuy commented on #23
OK this my understanding about how the URL is set
1) set the full name field - Sets the safeword human
2) Safeword module sets the machine name from the human name
3) The real name module uses the full name field
4) The *user:name-raw* token in the URL pattern "users/[user:name-raw]" point at the real name.

user:name-raw: The raw login name of the user account, unprocessed by the RealName module.

[2015-03-16 14:12] BBGuy commented on #23
So looks like the machine name is not automatically set on entity update and is controlled by the UI.
Looking at the Migrate implementation the machine name is set directly not derived from the name.
so we have two options:
1) include a url-safe value to the field.
2) derive one in code.

[2015-03-16 14:57] BBGuy commented on #23
Updated code with @iAugur function to set the machine name.
Import now working.

[2015-03-16 15:04] dahacouk commented on #20
"Check that full name is 2 words" doesn't seem to be working. I have just registered a one name account and I see spammers registering happily with one name. I am very interested why this issue was passed to me without this feature working. :-/

[2015-03-16 15:21] BBGuy commented on #20
Hi @dahacouk Probably my fault for not splinting this into two issues.
The live stuff is to do with the new registration process
The name validation is on dev and will be pushed tomorrow with module updates and if I get it in in time the new user import

[2015-03-17 11:38] BBGuy opened #36 "Issues with project book"
As part of a recent update we have hit the following errors on the Kendra Hub project page only:
[code]

[2015-03-17 11:41] BBGuy commented on #36
Debugging this shows that instead of a node object the node_page_title() gets a node id.
When attempting to figure out why this is the only page we are getting the issue for we have realised its the only project that is part of a book

[2015-03-17 13:01] BBGuy commented on #36
Debugging this shows that instead of a node object the node_page_title() gets a node id.
When attempting to figure out why this is the only page we are getting the issue for we have realised its the only project that is part of a book

[2015-03-17 13:02] BBGuy commented on #36
@andystiller Tracked the root to a call from bootstrap
``` $tree = menu_build_tree($book_link['menu_name']);```
in
```function _bootstrap_book_children($book_link) {```

[2015-03-17 13:07] BBGuy commented on #36
found a related issue https://www.drupal.org/node/2302513 and it is vary likely to be an issue with the title. In our case the title is controlled by the safewords module.

[2015-03-17 13:46] BBGuy commented on #36
Looks like this is a core issue https://www.drupal.org/node/1697570
with two possible patches:
29: https://www.drupal.org/node/1697570#comment-7940173
22: https://www.drupal.org/node/1697570#comment-7554627

[2015-03-17 16:06] BBGuy commented on #36
Patch fixes the issue

[2015-03-18 10:22] BBGuy commented on #23
All code is now live. Still to do -
-[ ] enable module
-[ ] create sample import and test on dev site
-[ ] Get file format from @dahacouk  and create import

[2015-03-18 10:23] BBGuy commented on #20
All deployed @dahacouk close if you are happy with this

[2015-03-24 12:14] #34 closed

[2015-03-24 12:21] dahacouk commented on #34
@andystiller Any idea how I "removed the in progress label x minutes ago" (see above)? I didn't touch it. Is there an automated something going on?

[2015-03-24 12:27] BBGuy commented on #34
@dahacouk not sure how but as its closed its no longer in progress so I think all is good :)

[2015-03-24 13:46] andystiller commented on #34
@dahacouk I closed the issue as @BBGuy had put all the updates listed in the issue on the live site. I assume that the change of label must be automatic if it was changed by you.

[2015-03-24 13:58] BBGuy commented on #23
import is now setup on live and using the flowing format
[code]
@dahacouk - Can you review the fields in the above sample CSV snippet.

[2015-03-24 14:12] andystiller opened #37 "Drupal core update to 7.35"
Security update for Drupal core to version 7.35 and the March sweep of module security updates. The updated to Drupal 7.35 is required by issue #23.

[2015-03-24 15:17] dahacouk commented on #23
I guess we shouldn't have "company","Job title" fields.

[2015-03-24 15:38] andystiller commented on #37
There is also a security update for Chaos tool suite from 7.x-1.6 to 7.x-1.7.

- [ ] Update ctools
- [ ] Update Drupal core

[2015-03-26 11:27] BBGuy commented on #23
Removed "company" & "Job title" from import

[2015-03-26 11:36] BBGuy commented on #23
Tested and works with core update to 7.35 #37

[2015-03-26 11:39] andystiller commented on #37
Tested on the dev site and working correctly. No unexpected errors and notices in issue #36 are not displayed.

[2015-03-26 11:53] BBGuy commented on #23
one small issue with the import is we are getting a warning:
Warning: Creating default object from empty value in _user_import_settings_save() (line 574 of /var/www/kendra/kendra-home/dev/htdocs/sites/all/modules/contrib/user_import/user_import.module).
See issue https://www.drupal.org/node/2199415
However this is not visible to users and the import works so will not bother with for now.

[2015-03-26 12:12] andystiller commented on #37
Uploaded the changes to the live website tested the operation of the site. No errors were found during the basic testing. This issue can be closed if the testing of issue #23 is OK.

[2015-03-26 12:46] #37 closed

[2015-03-26 13:14] BBGuy commented on #23
Created two versions of the import
1) Activates the account and does not send email to user
2) sends a welcome email with a one time login link and user need to login and set their password before the account is activated.

[2015-03-26 14:47] BBGuy commented on #23
The email format I used is:
Welcome to Kendra hub

To activate your account use the following one time login url:  !login_url

This link can only be used once to log in and will lead you to a page where you can set your password.

After setting your password, you will be able to log in at !login_uri in the future using:

username: !username
password: Your password

Kind regards,
The Kendra team

[2015-03-26 17:06] dahacouk commented on #23
When Drupal sends out the email it is hard wrapped. I'd like it to be unwrapped.

[2015-03-26 17:58] dahacouk opened #38 "Need full name token exposed in import email"
Need full name token exposed in import email. So that we can include the full name of the person in the subject and body of the email.

[2015-03-26 18:09] dahacouk opened #39 "Generic links for profile editing without user IDs"
I want to point people to *generic* links so that they can edit their account/profile/newsletter. But I don't want to have to send them specific links that include their user ID. I'd prefer that we never see their user ID in fact.
Like I want to say something like:
* https://www.kendra.io/user/newsletter
* https://www.kendra.io/user/profile
* https://www.kendra.io/user/account
Can this be done?
*

[2015-03-27 09:32] BBGuy commented on #23
tested both user imports on live and both worked so only issue is the formatting.
- [ ]@dahacouk - let me know when you finished with your imported test account and ill delete it.

[2015-03-27 19:17] dahacouk commented on #23
- [ ] I want to check what happens when I import a new user with a new email but the same username.

[2015-03-28 07:47] dahacouk opened #40 "Make Drupal send unwrapped plain text emails"
I don't want Drupal sending hard wrapped nor HTML emails. Just want unwrapped plain text emails. Format=flowed?

[2015-03-28 13:01] iAugur commented on #40
Background to this for reference: https://www.ietf.org/rfc/rfc3676.txt

[2015-03-29 12:31] dahacouk commented on #40
Also, is this https://api.drupal.org/api/drupal/includes%21mail.inc/7 useful?

[2015-04-02 08:41] dahacouk commented on #40
- [ ] Daniel will investigate sending HTML emails.

- [ ] Guy to investigate sending plaintext emails unwrapped/format=flowed.

[2015-04-03 07:11] dahacouk opened #41 "Users can't see registration errors"
I attempt to register at https://www.kendra.io . I fill out the form badly. I get an error when I hit the "Create new account". The page reloads showing the top of the page and I can't see the form or the error because my browser window is too small to contain the whole page. Should we have something like https://www.kendra.io/#register that people get sent back to if there's an error so they can

[2015-04-03 07:25] dahacouk commented on #20
To update the "approved" mail message go to https://www.kendra.io/admin/config/workflow/rules/reaction/manage/rules_user_approved/edit/5

[2015-04-07 09:14] BBGuy commented on #41
@dahacouk I am not sure I understand the issue. can you show a screenshot of how it looks when it goes wrong

[2015-04-07 09:18] dahacouk commented on #41
@BBGuy I've updated the issue to make it clearer. Hint: make your browser have a small window so that the registration form is below out of view. Yeah?

[2015-04-07 10:04] BBGuy commented on #41
@dahacouk I have re positioned the messages so they are at the top of the page under the banner.
Can you test and see if this resolves the issue

[2015-04-07 10:39] dahacouk commented on #41
That'll do for the moment. Thanks!

[2015-04-07 10:39] #41 closed

[2015-04-25 14:04] dahacouk opened #42 "Quick fix to theme/CSS..."
So... I know it's all my fault. I've learnt another big lesson: don't do any styling until the basic functionality is there. And also make sure any styling is done site wide so that we don't end up in the situation we are in now where some pages are full width and some pages are not.

The main problem starts at https://www.kendra.io/user (as a non-admin user) the 4 tabs at the top go to pages wher

[2015-04-25 14:16] dahacouk commented on #42
@BBGuy perhaps linked to this issue could be a problem when I save my profile or account (as a non-admin user) the "The changes have been saved" is not viewable.

I'm wondering if we should change the themes (public and admin) to be the same so this is easier to debug. Eat our own dog food?

[2015-04-25 14:24] dahacouk commented on #23
@BBGuy I'm getting the error "Field Website is not supported" when I start a bulk user import – the 2 screen just after specifying the CSV file.

[2015-04-25 14:30] dahacouk commented on #23
@BBGuy Errors don't seem to be viewable. Should they be? See:
* https://www.kendra.io/admin/people/user_import
* https://www.kendra.io/admin/people/user_import/errors/19

[2015-04-25 15:13] dahacouk commented on #42
Also add in all these pages we need to fix quickly:
* https://www.kendra.io/users
* https://www.kendra.io/orgs
* https://www.kendra.io/users/countries

[2015-04-27 09:48] iAugur commented on #42
I have updated the layout on all of these pages.
I think we should also:
* cache these pages
* Use pagers on these pages (e.g. in pages of 20)
* add a common navigation element to link the pages together

[2015-04-27 11:19] iAugur commented on #42
I will add the default page elements (tabs, messages) to the page template and remove them from the panel-pages. Then we will have a theme that works bot for admin and public.

[2015-04-27 14:36] dahacouk commented on #42
If you can get edit tabs on the pages such as https://www.kendra.io/kendra-hub/partners then that would be great tooooooo! ;-)

[2015-04-27 14:38] iAugur commented on #42
Done!

[2015-04-28 16:16] iAugur commented on #42
I have updated the theme to show default system elements on all pages.
Updated all page manager (panels) pages to reflect this (e.g. not double up tabs, message etc)
This now allows us to use the same theme for the admin as the public site

[2015-04-28 16:54] dahacouk opened #43 "Tidy up users/orgs listing pages..."
In order to get a menu item "Users" for free we said reconfigure pages to be:
* https://www.kendra.io/users
* https://www.kendra.io/users/orgs <<< to be changed
* https://www.kendra.io/users/countries

Organisations would still have pages like:
* https://www.kendra.io/orgs/apple

And users would still have pages like:
* https://www.kendra.io/users/dahacouk

Thanks!

[2015-04-29 08:00] iAugur commented on #42
If you are happy with this - can you close the issue

[2015-04-29 08:53] iAugur commented on #43
This has been completed - close if you are happy

[2015-04-29 09:13] dahacouk commented on #42
Can we have...

- [ ] The tab or to be:
* By name (was "Users")
* By organisation
* By country

- [ ] The page titles to be:
* By name (was "Members: Users")
* By organisation
* By country (was "Members: Users - Countries")

- [ ] Breadcrumb listed for "By name". But I have a bad feeling about this one! :confused:

[2015-04-29 09:24] dahacouk commented on #43
Can we have...

- [ ] The tab order to be:
* By name (was "Users")
* By organisation
* By country

- [ ] The page titles to be:
* By name (was "Members: Users")
* By organisation
* By country (was "Members: Users - Countries")

- [ ] Breadcrumb listed for "By name". But I have a bad feeling about this one! :confused:

[2015-04-29 09:26] dahacouk commented on #43
Also, can we get https://www.kendra.io/orgs to redirect to https://www.kendra.io/users/orgs ?

[2015-04-29 09:34] dahacouk opened #44 "Possible to list people unsubscribed from simplenews?"
Possible to list people unsubscribed from simplenews at https://www.kendra.io/admin/people/simplenews ?

[2015-04-29 09:52] iAugur commented on #43
I have updated the site to account for all of these.
The only remaining issue is that the breadcrumb doesn't display on the default By Users page

[2015-04-29 09:55] iAugur commented on #43
I also wonder if the page titles shouldn't be:
Users: By name
Users: By organisation
Users: By Country
?

[2015-04-29 10:01] dahacouk commented on #43
Yes, to your suggestions on titles with lowercase "C".

Have you seen https://www.drupal.org/project/path_breadcrumbs ?

[2015-04-29 10:03] dahacouk commented on #42
Looks good to me thanks!

[2015-04-29 10:03] #42 closed

[2015-04-29 10:07] iAugur commented on #43
Title updated - I will review the breadcrumb issue

[2015-04-29 15:27] iAugur commented on #43
I have fixed the breadcrumb issue - close if you are happy

[2015-04-29 15:32] iAugur commented on #43
Do you think it is worth reviewing navigation generally?
For instance adding a path to projects:
so https://www.kendra.io/kendra-hub
becomes https://www.kendra.io/projects/kendra-hub
and then the breadcrumb:
Home / Projects / Kendra Hub
and the menu would have Projects in it (then we would need / could have a Projects page too)

[2015-04-29 15:35] dahacouk commented on #43
Ah! By having the "Home" breadcrumb to always show up? How technically so we can tell @BBGuy as he was having same issue on Kendra Hub.

Can we change "Users: By name" to "Users / By name" in the breadcrumb so it kind of matches?

Let me think on the "Home / Projects / Kendra Hub" idea. I'm trying to keep URLs short as possible.

[2015-05-14 06:42] dahacouk opened #45 "Adding and removing organisations"
- [ ] When I remove an organisation (that I've just added myself to) from my profile I still show up in the users with that organisation.
- [ ] When I add an organisation to my profile and it doesn't exist already I click on "Add new organisation". But when the organisation is created it doesn't automatically get attached to my profile. Not sure if this is good or bad.

[2015-05-14 10:00] dahacouk commented on #29
So we need:
* Home
* Twitter
* Facebook
* LinkedIn
* Google+
* Facebook Group
* LinkedIn Group
* ...

[2015-05-19 11:20] #20 closed

[2015-05-22 11:55] BBGuy commented on #45
Hi @dahacouk I have fixed the first issue so now after creating a new organisation you are sent back to the add organisation screen and the new organisation is available in the dropdown.
The second issue is not easy to sort out as uses a bunch of stringed modules. Can probably be sorted with some experimentation if really needed.
Let me know if this needs any more work otherwise close.

[2015-05-28 15:17] dahacouk commented on #22
Please can we do this first thing next week?

[2015-06-02 10:44] iAugur commented on #22
@dahacouk - I have added a paged (ajax) view of past events to the events page https://www.kendra.io/events
Close if you are happy with that.

[2015-06-02 10:49] dahacouk commented on #22
I get this error on this page. You?

[2015-06-02 10:50] iAugur commented on #22
there is an error with views that occasionally shows up on the events page see (https://www.drupal.org/node/2018737) - should be fixed by latest views version - we should check

[2015-06-02 10:51] iAugur commented on #22
It appears to be fixed in the latest version - see https://www.drupal.org/node/2480259 -
[code]

[2015-06-02 11:14] iAugur commented on #22
The latest version of views is in the planned updates we are pushing up this week - so that should fix it.

[2015-06-02 13:33] andystiller opened #46 "jQuery issues"
There are few errors in the log and a variety of jQuery related issues that have been sse.
The log messages include:

[2015-06-02 13:43] andystiller commented on #35
I have found the flowing issues that list the similar problems:
* https://www.drupal.org/node/1946054
* https://www.drupal.org/node/2101439
* https://www.drupal.org/node/1391442

[2015-06-02 14:40] iAugur commented on #22
Latest version came in with security updates and now live - fixed the error

[2015-06-02 14:41] iAugur commented on #46
@andystiller - see https://www.drupal.org/node/2149395

[2015-06-09 17:52] dahacouk opened #47 "Don't show add organisation button when not logged in"
Don't show add organisation button when not logged in as in https://www.kendra.io/users/dahacouk

![window_and_sabine_jacques___kendra_initiative](https://cloud.githubusercontent.com/assets/201752/8065313/96b492d6-0ed8-11e5-8b8a-35957eec8881.png)

[2015-06-09 17:55] dahacouk opened #48 "List people even if they don't have an organisation"
There is a rule that we only list people who have an organisation in https://www.kendra.io/users but I'd like this to be taken off so as only to respect the *Appear in listings and project pages* setting in *Edit Profile*.

[2015-06-10 13:05] iAugur commented on #48
This has been updated.
It required some rewriting of the query output to stop
 - empty user job titles
 - job title doubling up when roles defined
It is live now - check and close if happy

[2015-06-10 13:09] iAugur commented on #47
Don't think you can view a user if not logged in?

[2015-06-10 13:31] dahacouk commented on #48
Please can you do the same for https://www.kendra.io/users/countries ?

[2015-06-10 13:33] dahacouk commented on #48
Note for the future: ideally I'd like the listings to look like:
http://www.v2rf.org/endorsements
And then we could use the same format for each of the user listing pages...

![endorsements___v2rf](https://cloud.githubusercontent.com/assets/201752/8083595/a550820a-0f7d-11e5-89e3-f8aebafb0a9d.png)

But don't try and implement this right now. ;-)

[2015-06-10 14:04] iAugur commented on #47
The button is in the views footer
I have wrapped it in php to check if the user is authenticated.
[code]

[2015-06-10 14:04] iAugur commented on #47
this is now live - close if happy

[2015-06-10 14:31] dahacouk commented on #47
Thanks!

[2015-06-10 14:31] #47 closed

[2015-06-10 19:51] dahacouk commented on #48
Wow! You did it. Now can you make https://www.kendra.io/users look like https://www.kendra.io/users/countries ?
![users__by_country___kendra_initiative](https://cloud.githubusercontent.com/assets/201752/8092535/623c4316-0fb2-11e5-8079-6ed053f8c9b8.png)

[2015-06-10 20:07] dahacouk opened #49 "Remove footer from simplenews newsletter"
There is an unsubscribe footer hardcoded into the simpleness newsletter. Please can you remove this? I’ve found this https://www.drupal.org/node/321012 if it helps.

[2015-06-11 06:16] dahacouk commented on #48
- [ ] But do not list people if they do not have the *approved* setting! See: https://www.kendra.io/admin/people?name=&mail=&status=All&rid_op=or&rid=All&order=access&sort=asc

[2015-06-11 07:39] dahacouk commented on #23
When importing need to set *Appear in listings and project pages* to off. Need to check if this is something that can be done with user setting.

[2015-06-11 07:49] dahacouk commented on #23
@BBGuy we need to set *Appear in listings and project pages* to off when we do an import.

[2015-06-11 10:16] iAugur commented on #49
Added override template to theme and removed unsubscribe element from footer
tested on staging - please test live and close if done

[2015-06-11 10:20] dahacouk commented on #49
Thanks!

[2015-06-11 12:07] iAugur commented on #23
Patched VBO os the modify was causing an error for users:
https://www.drupal.org/node/2305227

[2015-06-11 12:08] iAugur opened #50 "Add Elysia Cron to the site"
So we can manage the sending of emails better

[2015-06-11 12:58] dahacouk opened #51 "Look at better ways to send newsletters"
Perhaps we can find an SMTP service provider?

* https://www.mandrill.com
 * https://www.drupal.org/project/mandrill

[2015-06-11 13:33] iAugur commented on #50
elysia_cron added and working as expected
Configured simplenews to run every 15 minutes

[2015-06-11 13:33] #50 closed

[2015-06-11 13:34] iAugur commented on #49
Add override for body template to remove title

[2015-06-11 13:56] iAugur commented on #49
Added, tested and working

[2015-06-11 13:56] #49 closed

[2015-06-11 13:57] iAugur commented on #48
Added filter for role 'Approved' - live and tested

[2015-06-11 15:35] #14 closed

[2015-06-12 07:20] dahacouk opened #52 "Simplenews headers sent with "staging" reference"
The newsletter email is being sent out with a header:

[code]

I suspect this got changed when template work was done in #49 because it started off being "www-live" which is also wrong. Should just be "www".

Just need to find config that relates to that. But suspect it is in template.

[2015-06-16 15:58] dahacouk opened #53 "Check password reset is working"
We've had reports that password reset is not working correctly.

Perhaps look at https://www.drupal.org/project/simple_pass_reset

[2015-06-18 07:37] dahacouk opened #54 "Google Analytics"

[2015-06-18 07:59] dahacouk opened #55 "Social Links on homepage"
* https://www.kendra.io
* https://www.youtube.com/c/kendraio
* https://www.twitter.com/kendraio
* https://www.facebook.com/kendraio
* https://plus.google.com/+kendraio
* https://www.facebook.com/groups/kendraio
* https://www.linkedin.com/company/kendraio
* https://www.github.com/kendraio
* https://www.linkedin.com/groups/kendraio-8246464
* https://groups.drupal.org/kendraio

[2015-06-18 09:49] dahacouk opened #56 "Switched "Use editablefields" on for approved users"
I switched the permission "Use editablefields" for approved users to *yes* because approved users were not able to edit their role within an organisation. I just want to check that this doesn't have a negative impact anywhere else.

![people___kendra_initiative](https://cloud.githubusercontent.com/assets/201752/8228562/a1638d74-15a7-11e5-9c5e-c150e9e609a6.png)

[2015-06-18 15:35] iAugur opened #57 "Synchronising dev/stage from live"
You can use the existing Drush aliases to do this.

But we need a post synch script that updates certain settings to ensure that live site behaviour is not set on dev/staging.
This is especially important for Newsletters etc
But may be valid for other things eg Google analytics etc

[2015-06-18 15:43] BBGuy commented on #53
I had a few issues testing dev will not send emails for some reason:

On live worked ok but got a  Warning

[2015-06-18 15:43] BBGuy commented on #53
@dahacouk can you test again.

[2015-06-18 16:13] dahacouk commented on #53
On live I also get:

So, I confirm this is throwing people into a loop.

![reset_password___kendra_initiative](https://cloud.githubusercontent.com/assets/201752/8235966/1e421e16-15dd-11e5-982f-631b2a77c217.png)

[2015-06-18 16:42] BBGuy commented on #53
@dahacouk  managed to recreate using testt9@daha.co.uk (user 3g4e18)  updated to testt9@blue-bag.com on my local copy for testing.

Looks like this may be solved by upgrading Password Reset Landing Page (PRLP) https://www.drupal.org/project/prlp

[2015-06-19 08:56] iAugur commented on #52
Can you check this - as i suspect it was only in emails sent from the staging server. i.e. it puts the host header for the server source.
Looking at the raw source for the newsletter i received all is OK

[2015-06-19 09:30] dahacouk commented on #52
Here's some stats:
* 322 emails sent from *https://www-live.kendra.io* and some with capitalised title that @iAugur removed early on in the mailout.
 * But I really don't get why any went out as *www-live*.
  * Those that went out as *www-live* don't seem to have gone out as *www*. But only looked for a couple of accounts.
* 80 emails sent from *https://www-dev.kendra.io*.
* 161 emails sent from *

[2015-06-19 11:17] BBGuy commented on #53
George sorted emails on dev and after upgraded the PRLP module the one time login link works with 3g4e18 and without warnings.

[2015-06-19 11:36] BBGuy commented on #53
Pushed to live and working. @dahacouk can you test using testt9@daha.co.uk and close if you are happy

[2015-06-19 13:58] dahacouk commented on #53
Tested with other accounts. Thanks!

[2015-06-19 13:58] #53 closed

[2015-06-21 17:34] dahacouk opened #58 "Deleting user also deletes organisation"
Deleting a user also deletes their organisation. This is not be desired. Also the organisation is delete even when shared with another user.

[2015-06-23 11:49] iAugur commented on #51
I have reviewed the integration with mailchimp (MC) on a branch (kendra-51).
there is a lot to discuss.
[ ] Create a Kendra mailchimp account & configure settings
[ ] Enable the module and link to API key
[ ] Manage lists: There doesn't appear to be a way of managing the bulk subscription of people from within Drupal, so i recommend exporting from Drupal and importing to MC
[ ] Consider uninstalli

[2015-06-24 10:07] iAugur commented on #51
I have added newsletter subscription details to the user profile page - but ot only shows up once the user data has been updated. So if you simply save a user the form appears. I have set it so that as the user or an admin you can edit the subscription status on the newsletter tab.

[2015-06-29 12:14] iAugur commented on #51
Having discussed/tested this we should investigate updating all of the users in Drupal:
- [ ] Add a field to users 'Email Bounced' or some such - default 'false'
- [ ] Programmatically set their subscription status and save the user - this should update mailchimp
- [ ] Batch this to first 1900 users so we can send out an email to them
- [ ] Create a segment in MC  - 'First Batch' so we can target

[2015-06-29 15:29] dahacouk commented on #51
We also need views where we can:
- [ ] See a list of people who have bounced emails *and* they are still listed publicly on the website.
- [ ] See a list of people who have unsubscribed *and* they are still listed publicly on the website.

[2015-06-29 17:38] dahacouk opened #59 "User profile revisions"
Can we add user profile revisions so we can track what a user has edited and when?

Possibly use https://www.drupal.org/project/user_revision ?

[2015-06-29 17:43] dahacouk commented on #51
- [ ] @dahacouk needs to create a trackable link for https://www.kendra.io

[2015-07-02 11:46] BBGuy commented on #51
OK we have two functions that we can use: mailchimp_subscribe() & mailchimp_unsubscribe()
I can write a wrapper function that takes the *user ID* and the *List ID*.
The List ID is available from the mailchimp: list->Settings->List name and Campaign defaults
[ ] Write and test subscribe function
[ ] Integrate into a process list job

[2015-07-02 15:34] BBGuy commented on #51
The subscribe finction subscribed the user ok but for old user did not create the needed record in the drupal DB so ended up updating the field programmatically and that worked

[2015-07-02 15:42] BBGuy commented on #51
Pushed new functions to dev

[2015-08-13 18:24] dahacouk commented on #51
Bump! Can we chat about Mandrill? As I want to kill the Google Apps account that currently is SMTP server for all sites.

[2015-08-14 08:10] dahacouk opened #60 "Flushing caches all the time!"
Seems like every time I (or others) make a change to configuration in administration I have to flush the caches to see the changes. For instance I've just been changing the *Markdown* filter to do what I want – and every time I had to flush the caches. Seeing as the site is not being hit that much should we turn caching off?

[2015-08-14 08:23] dahacouk opened #61 "This is interesting..."
Should we be able to edit *Page not found*?

https://www.kendra.io/orgs/dfhfdgdshdjfsfs

[2015-08-14 09:05] iAugur commented on #61
You can edit it if you are logged in as the 404 page is set to a specific node.
That enables you to edit the message as opposed to using the standard uneditable message.

[2015-08-14 09:14] dahacouk opened #62 "Apostrophe not removed by URL aliases..."
https://www.kendra.io/admin/config/search/path/settings does not seem to remove this character: ’

[2015-08-14 09:29] iAugur commented on #62
I have added:
[code]
to the strings to replace - removed the alias and regenerated - and still it remains!
Needs investigation.

[2015-08-14 09:58] dahacouk commented on #62
Low priority though.

[2015-08-21 13:51] iAugur opened #63 "Security Updates - SA-CORE-2015-003 / SA-CONTRIB-2015-141"
- [ ] Ctools - Multiple Vulnerabilities - SA-CONTRIB-2015-141
- [ ] Drupal Core - Multiple Vulnerabilities - SA-CORE-2015-003

[2015-08-21 14:01] iAugur opened #64 "Module updates - security - Relation Module"
Te relation module has a security release available - requires review and testing

[2015-08-21 14:08] iAugur commented on #63
@dahacouk - please give the site a once over to confirm all is ok

[2015-08-25 10:47] dahacouk commented on #61
Got it! Thanks!

[2015-08-25 10:47] #61 closed

[2015-08-25 11:33] andystiller commented on #51
I have tested the Mandrill integration on my local machine and committed the changes on the mandrill_mail branch. With a small amount of configuration I was able to successfully send myself a password reset email using mandrill.

[2015-08-25 15:21] BBGuy commented on #51
I have run the mailchimp subscription script and we now have most of the users subscribed:
Active users: 3,036
Mailchimp subscribed: 3,024
A few where rejected by mailchimp with:
```An error occurred subscribing krogers12@home.com to list bbdda9b35c. "MailChimp API call to <em class="placeholder">lists/subscribe</em> failed: Internal Server Error: List_RoleEmailMember: krogers12@home.com seems to

[2015-08-25 15:48] BBGuy commented on #51
@dahacouk Review and close if happy

[2015-08-26 09:10] iAugur opened #65 "Mandrill Settings"
Reviewing the settings on Mandrill I have noticed:
- [x] The SPF record requires updating from:
[code]
- [ ] The domain requires validation - send an email and validate

[2015-08-26 09:12] dahacouk commented on #65
Please can you specific to which domain(s) you are talking about?

[2015-08-26 09:13] iAugur commented on #65
Kendra.org.uk - If you are about - I will kickstart the process - you just have to verify the email they send - i will send it to daniel@kendra.org.uk

[2015-08-26 09:17] dahacouk commented on #65
Done! I'm also adding *kendra.io* for future use. Thanks!

[2015-08-26 09:19] iAugur commented on #65
@dahacouk - great - i have updated the SPF for that too - and  all verified ; )

[2015-08-26 09:20] dahacouk commented on #65
Ach! I was just updating SPF too. No worries! ;-) All done. Well done and closing.

[2015-08-26 09:20] #65 closed

[2015-08-26 15:57] dahacouk opened #66 "Sending plain text emails from Drupal via Mandrill"
I'm not fully happy with the emails being sent from Drupal via Mandrill. I'll detail issue here...

[2015-08-26 16:04] dahacouk commented on #66
Duplicate of #40 so closing.

[2015-08-26 16:04] #66 closed

[2015-08-26 16:11] dahacouk commented on #40
https://mandrill.zendesk.com/hc/en-us/articles/205582117-Using-SMTP-Headers-to-customize-your-messages may be of use. I'll check it later.

[2015-09-05 10:41] dahacouk opened #67 "Shutting down www.kendra.org.uk"
When ready...

- [x] Archive www.kendra.org.uk and scrape it using [SiteSucker](http://ricks-apps.com/osx/sitesucker/index.html) or something like that.

- [x] Redirect xxxxx.kendra.org.uk/xxxxx to xxxxx.kendra.io/xxxxx with specific 301 redirects that I can administer easily. Also monitor what subdomains and URLs in xxxxx.kendra.org.uk are being requested, number of times, from where, with hit or

[2015-11-04 15:04] dahacouk commented on #40
OK. What I've found out so far is that I can send nice HTML and just about OK plain text emails (not totally happy but it will do for the moment). Here are the settings in https://mandrillapp.com/settings/sending-options

![sending_defaults___mandrill](https://cloud.githubusercontent.com/assets/201752/10941632/53c977ac-8304-11e5-95a6-c397244c5785.png)

And here are the settings in https://www.kend

[2015-11-12 09:14] dahacouk commented on #67
In the short term I want to rename www.kendra.org.uk to something secret and do the redirects now.

[2015-11-12 09:16] dahacouk commented on #52
Closing as we moved to MailChimp.

[2015-11-12 09:16] #52 closed

[2015-11-12 17:58] iAugur opened #68 "Favicon variants"
We get a lot of 4040errors with browers (especially mobile devices) looking for favicon type files:
- apple-touch-icon-precomposed.png
- apple-touch-icon.png
etc

So I have created a full set for all devices and at the very least we should put these in the root of the site.
We could also add the metadata / links in the head to provide nice icons for when people pin tabs, save to homescreen etc
See

[2015-11-13 11:56] dahacouk commented on #68
Wow! Awesome! Probably the last thing we need but great! ;-) I'm happy for you to proceed if you want.

[2015-11-13 12:07] iAugur commented on #68
Gloss and design aside - the main motivation here is to reduce the 404 entries in the log ;)

[2015-11-13 12:12] dahacouk commented on #68
Nice! ;-)

[2015-12-08 15:10] iAugur commented on #67
[ ] Investigate import redirects
[ ] create list of source url (kendra.org.uk) -> target urls (kendra.io)
[ ] Update vhost for kendra.io to accept kendra.org.uk
[ ] Update DNS for kendra.org.uk -> kendra.io IP

[2015-12-10 17:19] andystiller commented on #68
I've added the 2 apple touch icons that cause most of the 404 entries and updated the theme to link to the main icon. I've also included a browserconfig.xml file and an icons folder for Windows 8 live tiles compatibility.

[2015-12-11 08:59] dahacouk commented on #67
@iAugur I've done 2 tasks: archived the site and created a redirect spreadsheet (still in progress). What I need now is an interface to administer and view counts for redirects. Your turn.

[Just realised that ticking a box and editing a comment doesn't kick off a notification. Hence this comment.]

[2015-12-14 13:35] dahacouk opened #69 "Create 3 MailChimp subscription VBOs"
Please create 3 MailChimp subscription VBOs that we can access at [bulk ops](https://www.kendra.io/admin/people/bulk-ops) that enable us to:

- [ ] 1. Subscribe user(s) to the newsletter.
- [ ] 2. Unsubscribe user(s) from the newsletter.
- [ ] 3. Resubscribe user(s) to the newsletter (first 2 and then 1) This will have the effect of bumping the user so that MailChimp will receive the Drupal profil

[2015-12-14 18:10] dahacouk commented on #23
I'm assigning this issue to me as I reckon it is all done and will close this week after I have more time to review.

[2015-12-15 15:06] iAugur commented on #67
- [ ] Implement global redirect
- [ ] redirect import

[2015-12-15 17:04] andystiller commented on #67
I have installed global redirect, path redirect import and updated the redirect module. To import the language to 'und' for the import https://www.drupal.org/node/2172311.

[2015-12-16 10:19] iAugur commented on #67
I have added a specific vhost for kendra.org.uk that:
 - rewrites all traffic from www.kendra.org.uk/somepage -> www.kendra.io/somepage
 - rewrites traffic to www.kendra.org.uk/ -> www.kendra.io/kendraorguk

So ... Once you are happy and have your rewrites in place we can switch over the DNS

[2015-12-16 10:21] iAugur commented on #68
I have moved the icons/ folder to msicons/ as icons/ has a special alias in apache.
I have commented out the alias in aliases.conf

[2015-12-16 11:57] dahacouk commented on #67
I've been thinking that a better way could be to prepend **wwwkendraorguk** to all incoming paths and then it would be easy to capture with a log search. And that doesn't make any difference to the rewriting. Yes?

So, kendra.org.uk and www.kendra.org.uk would:
* rewrite all traffic from www.kendra.org.uk/somepage -> www.kendra.io/wwwkendraorguk/somepage
* rewrite traffic to www.kendra.org.uk/ ->

[2015-12-16 14:52] dahacouk commented on #67
Wow! That's a lovely closed issue! Thanks @iAugur and @andystiller !

[2015-12-16 14:52] #67 closed

[2015-12-16 17:51] dahacouk opened #70 "Send registration emails with real name"
Mails are sent using the username which looks wrong. This should be a configuration somewhere – a variable in the email. I'll sort it out soon.

[2015-12-17 09:46] dahacouk commented on #55
I added them manually. Good enough for now.

[2015-12-17 09:46] #55 closed

[2015-12-23 20:43] dahacouk opened #71 "Can we use just the first name in the MailChimp newsletter?"
Can we use just the first name in the MailChimp newsletter? There must be a way to do this but I know Drupal stores the full name in one field.

[2015-12-24 15:51] dahacouk opened #72 "Make an 'add to calendar' button in the events listing"
Make an 'add to calendar' button in the events listing

[2016-01-10 11:46] dahacouk opened #73 "Users should receive newsletter after being validated and approved"
Users are added to the newsletter whilst still unvalidated and unapproved. Not sure if there is an easy way to avoid this but it would be nice if they didn't get added to the newsletter straight away. Especially since they may register with an invalid email and that will create a bounce in MailChimp.

[2016-01-15 12:30] iAugur opened #74 "News view broken"
The news page for non logged in people is raising errors:
[code]

[2016-01-15 12:30] iAugur commented on #74
This was due to the editable fields formatter being slected as the field display for the abstract in the teaser view of blog entries. This is likely to be an artefact of t being the first n the list of available formatters and replacing the default formatter.

This has been updated to default and the error has been cleared.

Thanks to Guy for resolving that.

[2016-01-15 12:30] #74 closed

[2016-01-15 12:33] iAugur opened #75 "News page"
The teaser view for news / blog entries could be better formatted. At present it is hard to distinguish the blog entries on the news page.
I recommend:
-  floating the image right (possibly having a default image for when there is none).
- possibly also showing the date (01-Jan-2016 - e.g. create a new short date fortmat)
- padding the posts so they are distinguishable

[2016-02-04 04:15] dahacouk commented on #75
Sounds wonderful. Is it a quick job @iAugur ?

[2016-02-14 16:31] lsolesen commented on #40
@dahacouk How did you get it to send OK plain text, because that causes me a lot of grief in one of my projects :)

[2016-02-17 13:37] iAugur commented on #75
Also think we should give the News titles h3

[2016-02-17 14:35] iAugur opened #76 "Letsencrypt certificates"
We have implemented Letsencrypt certificates on Kendra.io sites
These will need renewing in 60 days or so (expire in 90)

When we renew:
Put all domains on one certificate
At present the following have separate certificates (with multiple alternative names)
www.kendra.io
hub.kendra.io
builder.kendra.io
office.kendra.io
www1.kendra.io
but www2 fell foul of the rate limit of 5 per master domain 5 da

[2016-02-27 16:20] dahacouk commented on #40
@lsolesen do the settings above not work for you?

[2016-03-13 12:35] dahacouk opened #77 "Move from Mandrill?"
Mandrill is becoming a MailChimp add-on. All Mandrill users will be required to have a paid monthly MailChimp account by April 27. [Read more](http://blog.mandrill.com/important-changes-to-mandrill.html?_ga=1.67997528.856343836.1457871753)

We don't have a paid monthly MailChimp account. So, I'm wondering about alternatives. Any ideas?

[2016-03-13 16:01] dahacouk commented on #77
I'm just going to start listing ones I come across. Feel free to edit this comment and add more in here:
* https://postmarkapp.com
*

[2016-04-11 10:04] #68 closed

[2016-04-11 10:16] iAugur opened #78 "Missing pages from old wiki"
Since the old kendra.org.uk wiki now points at kendra.io there are a lot of 404s for the old wiki pages.
As these pages were perl pages with a querystring it is not easy to put in redirects for individual 404s.
Also as they are perl pages (.pl) they get handled by the fast 404 process by drupal so don't bootstrap the site and therefore can't ustikise the URL redirect functionality.
However we can

[2016-04-12 09:30] dahacouk commented on #78
Well done for capturing these but would like to talk more...

* Something like `https://www.kendra.io/wwwkendraorguk/wiki/wiki.pl?P2P-Next` is not caught because there is no `id=`.
* I think I'd still like the redirect to go to something like `http://www.kendra.io/wwwkendraorguk/wiki/FutureEvents` so that it doesn't get confused with real pages at all.

[2016-04-12 10:00] dahacouk commented on #78
Just referencing the closed issue #67 for additional information.

[2016-04-12 10:16] dahacouk commented on #78
Just realised I still need to do the bulk update for all wiki pages. But I feel what we need to do is send all:
`wwwkendraorguk/wiki/wiki.pl?action=browse&id=FutureEvents&revision=54`
to
`wwwkendraorguk/wiki/wiki.pl?FutureEvents`
and then I'll add redirects from there.
I have them already to rock. I just need a good kick. Perhaps that's what this is!

[2016-04-15 13:14] dahacouk commented on #77
As decided we are just going to remove the transactional integration and let the server handle sending these emails. Simple. But would just like to keep an eye on how these emails are sent and who they seem to come from. Yay!

[2016-04-25 11:04] dahacouk commented on #77
I guess we need to sort this in the next day?

[2016-04-26 11:18] andystiller commented on #77
I have changed mail system configuration to use the default Drupal mail system. I have tested by requesting a password reset and checking the message headers. Before the change the message headers included mandril after the change mandril wasn't shown in the message header.

The Mandril module and configuration are still enabled but are not used for sending emails.

[2016-04-26 13:21] dahacouk commented on #77
@andystiller is there a way I can get a copy of everything sent out by the Drupal site? I had this set up with Mandril and it was useful for seeing activity. Cheers!

[2016-04-26 15:53] andystiller commented on #77
@dahacouk I assume that the set-up was actually in the Mandril account confiuration not on your site. I've had a quick look into the options and there are a few possible ways to send you and email when people register etc. The suggestions I've seen online are to use Rules to send you an email whe certain events are triggered like a user registering.

[2016-04-26 17:06] dahacouk commented on #77
@andystiller Hmm... Yes, it was set up in Mandril. Sounds like it is not as simple as just saying "send Daniel a copy of any/all outgoing email"...? If it is then great. If it's going to be a bit complex then perhaps best to... is there a log of all emails sent somewhere in Drupal so I can just periodically check it?

[2016-04-28 08:18] andystiller commented on #77
Thre's nothing in the default Drupal set-up that log emails. There are modules that can be installed to do what you want. If you just want to know that a message has been sent there are the mail server logs.

[2018-05-24 13:10] iAugur opened #79 "User visibility"
The user has a field to limit their visibility in lists and projects
This field should also limit the visibility of their profile page in case the url is entered directly

[2018-06-14 11:13] andystiller commented on #79
I have update the code to check that the user being viewed has the approved and active roles ans has active status.

[2018-06-14 11:53] #79 closed

[2018-06-14 13:16] andystiller opened #80 "Bulk operation to unsubscribe unapproved users"
We need a way of bulk unsubscribing users from the newsletter as when a new user is created they automitcally get subscribed and there are lots of spam users.

[2018-06-14 13:17] andystiller opened #81 "Make the default for subscribe to newsletter FALSE for all new users."
The current default is set to TRUE when the account is created this should default to FALSE. T

[2018-06-14 13:21] andystiller commented on #81
I have changed the MailChimp subscription field on the live site so that it defaults to FALSE.

[2018-06-14 13:27] andystiller commented on #80
I have changed the Admin new users so that there are bulk operations to unsubscribe to the Newsletter and to subscribe to the newsletter. This change will work on both the Unapproved and Unvalidated tabs.

[2018-06-14 13:27] #80 closed

[2018-07-31 09:07] dahacouk commented on #81
@andystiller Wait! What? Why?

[2020-01-01 12:18] dahacouk opened #82 "Change login wording..."
At https://www.kendra.io/user/login please can we make:

Login to Kendra > Login to Kendraio ?

Cheers!

[2020-01-01 12:51] iAugur commented on #82
This has been updated
For the record it is in the panels config setting for the page title

[2020-01-01 12:51] #82 closed

[2020-04-30 11:08] lenapagel opened #83 "When not logged in, "My Profile" link leads to a 404 Error page instead of "Register/Log-In" Page"
On the bottom of the landing page, there's a link to "My Profile". _If you're not already logged in_ it leads to a [404 Error, saying "Page Not Found"](https://www.kendra.io/not%20yet%20assigned). This should be leading to the [register/log-in page](https://www.kendra.io/user/login) instead, from which you then get redirected to your profile.

<img width="1280" alt="kendraio homepage error" src="h

[2020-04-30 16:14] andystiller commented on #83
I will have a look at this early next week.

[2020-05-05 09:27] andystiller commented on #83
I have added the menu per role module that allows the menu visibility to be set depending on the user role. The visibility is set on individual menu items.

Setting the my profile menu item to not be visible for anonymous users hides the menu item when not logged in. The only potential issue is Auth0 Token Based Authentication badge moves.

[2020-05-05 10:04] andystiller commented on #83
The code is now live. I have configured the "My Profile" menu link to not be visible for anonymous users.

I have cleared all the caches and tested both logged in and not logged in.

[2020-05-05 10:04] #83 closed

[2021-07-08 14:50] andystiller opened #84 "Password reset not working"
When a user receives an email with a link to login, the user can enter a new password.
Immediately afterwards, the text "You have tried to use a one-time login link that has either been used or is no longer valid" appears, even though the link is brand new.

The problem only occurs using the password reset page.
https://www.drupal.org/project/prlp/issues/3208362

Updating the PRLP modules should s

[2021-07-08 15:17] iAugur commented on #84
New release - https://www.drupal.org/project/prlp/releases/7.x-1.4 fixes this issue
Tested and deployed - confirmed working now

[2021-07-08 15:17] #84 closed

[2021-07-22 12:28] iAugur opened #85 "Update Drupal Core: Update sa-core-2021-004"
Security release for drupal core

[2021-07-22 13:39] #85 closed

[2022-02-17 10:38] iAugur opened #86 "Favicon Link generator causing errors"
The User page generates an error from the Favicon lin generator on users with no web istes listed
`Notice: Undefined index: host in link_favicon_formatter_google_service() (line 292 of /var/www/www.kendra.io/live/htdocs/sites/all/modules/contrib/link_favicon_formatter/link_favicon_formatter.module).`

This was an issue with earlier versions - but has appeared recenty
The issues says it was fixed (

[2022-02-17 10:44] andystiller commented on #86
I have checked the code and the "fix" is present in the code.